<nav class="navbar navbar-expand-md navbar-dark bg-dark" aria-label="Custom Navbar">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="{{ url_for('static', filename='img/nav.png') }}" alt="Logo" class="logo-img" style="width: 40px; 
  height: 40px; 
  margin-right: 10px;">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

      <ul class="nav col-md-4 justify-content-end">




        <li class="nav-item" style="">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
      </ul>
    </div>

</nav>
